# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore development files
*.ts
*.tsx

# Ignore source control files
.git/
.gitignore

# Ignore editor and IDE files
.vscode/
.idea/

# Ignore test files
__tests__/

# environment files
.env
.env.local
.env.development
.env.test
.env.production